<div class="field row">
    <div class="span2">{{field.fieldTitle}}:</div>
    <div class="span4">
        <div ng-repeat="option in field.fieldOptions" class="row-fluid">
            <label>
                <input type="radio" value="{{option.optionValue}}" ng-model="field.fieldValue"  ng-required="field.fieldRequired"/>
                &nbsp;<span ng-bind="option.optionTitle"></span>
            </label>
        </div>
        <span class="required-error" ng-show="field.fieldRequired && !field.fieldValue">* required</span>
    </div>
</div>
<br>